@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  --mainColor: #151313;
  --secondaryColor: #ff5734;
  --mainAccentColor: #be94f5;
  --secondaryAccentColor: #fccc42;
  --offColor: #f7f7f5;
  --secondaryOffColor: #302E2D;
}

* {
  -webkit-font-smoothing: antialiased;

  transition: all .25s ease-in-out;

  font-family: "Kodchasan", sans-serif;
}

html, body {
  width: 100%;
  height: 100%;

  margin: 0;

  background-color: var(--secondaryOffColor);
}
