@font-face {
  font-family: 'THICCCBOI';
  src: url('fonts/Webfont/THICCCBOI-SemiBold.woff2') format('woff2'),
  url('fonts/TTF/THICCCBOI-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

* {
  --mainColor: #151313;
  --secondaryColor: #ff5734;
  --mainAccentColor: #be94f5;
  --secondaryAccentColor: #fccc42;
  --offColor: #f7f7f5;
  --secondaryOffColor: #302E2D;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  transition: all .25s ease-in-out;
}

html, body {
  width: 100%;
  height: 100%;

  margin: 0;

  font-family: 'THICCCBOI', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;

  background-color: var(--secondaryOffColor);
}
